
body {
  background: url('/assets/img/plataformas/fondo.png') no-repeat center center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}


body::before {
  content: "";
  position: fixed;
  inset: 0;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px); /* soporte Safari */
  z-index: -1;
}


   
   
   
   
   
   @keyframes slideDown {
      0% { transform: translateY(-100%); opacity: 0; }
      100% { transform: translateY(0); opacity: 1; }
    }
    .slide-down { animation: slideDown 0.8s ease-out forwards; }
    .header-bg {
      background-image: url('../img/banderadechile.jpg');
      background-size: cover;
      background-position: center 69%; 
    }
    .header-overlay {
      backdrop-filter: blur(13px);
      background-color: rgba(22, 22, 22, 0.219);

    }


